@model IEnumerable<WebApplication1.Models.FeedbackEnquiry>

@{
    ViewData["Title"] = "ViewFeedbackManagement";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback Management</title>

    <!-- CSS File -->
    <link rel="stylesheet" href="~/css/viewfeedbackmanagement.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/backnavbar.css" />

    <!-- Unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <!-- Box Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        @await Html.PartialAsync("~/Views/Home/_SMMenu.cshtml")
    </header>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="breadcrumbs">
        &nbsp; <a href="~/Home/Dashboard">Home</a> >
        <a href="~/ParcelTracking/ViewFeedbackManagement"> Feedback Management </a> 
    </div>

    @if (Model.ToList().Count > 0)
    {
        <div class="feedback-table-container">
            <table class="feedback-table">
                <thead>
                    <tr>
                        <th>Feedback Enquiry ID</th>
                        <th>Member ID</th>
                        <th>Feedback Message</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Response</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.Response == null)
                        {
                            // Split DateTimePosted into Date and Time
                            var datePosted = item.DateTimePosted.Date;
                            var timePosted = item.DateTimePosted.TimeOfDay;

                            <tr>
                                <td>@item.FeedbackEnquiryID</td>
                                <td>@item.MemberID</td>
                                <td>@item.Content</td>
                                <td>@datePosted.ToString("d MMMM yyyy")</td>
                                <td>@timePosted.ToString(@"hh\:mm\:ss")</td>
                                <td>@GetFeedbackStatusText(@item.Status)</td>
                                <td>
                                    <a href="@Url.Action("RespondToFeedback", new { id = item.FeedbackEnquiryID, content = item.Content })">Response</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


@functions {
    public string GetFeedbackStatusText(string feedbackStatus)
    {
        switch (feedbackStatus)
        {
            case "0":
                return "Pending Response";
            case "1":
                return "Closed";
            default:
                return "";
        }
    }
}